<div class="flex flex-col min-h-screen">
    <main class="flex-1 py-12 px-4 md:px-6">
        <div class="max-w-3xl mx-auto">
            <h1 class="text-6xl font-bold mb-12 text-center">Sobre Mí</h1>
            <div
                class="flex flex-col md:flex-row gap-8 items-start text-center md:text-start"
            >
                <img
                    src="Foto_CV.jpg"
                    alt="Franco Agustín Jimenez Copati"
                    class="rounded-lg border-4 border-cyan-400 self-center md:self-start w-80 h-auto"
                />
                <div>
                    <h2 class="text-2xl font-bold mb-4 text-cyan-400">
                        Datos Personales
                    </h2>
                    <ul class="space-y-2 mb-6">
                        <li><strong>Nombre:</strong> Franco Agustín</li>
                        <li><strong>Apellido:</strong> Jimenez Copati</li>
                        <li><strong>Ubicación:</strong> Argentina, CABA</li>
                    </ul>
                    <h2 class="text-2xl font-bold mb-4 text-cyan-400">
                        ¿Quién soy?
                    </h2>
                    <p class="mb-4">
                        Soy un estudiante de programación de la TUP en la UTN
                        FRA. Me gusta hacer proyectos como este en el que se 
						desafíen y se pongan a prueba las habilidades que voy
                        aprendiendo.
                    </p>
                    <h2 class="text-2xl font-bold mb-4 text-cyan-400">
                        Sobre esta página
                    </h2>
                    <p>
                        La página web de la clínica online fue creada como un
                        proyecto final de la materia Laboratorio IV de la
                        Tecnicatura Universitaria en Programación en 2024.
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
