<form [formGroup]="credentials" class="mt-8 space-y-6" (ngSubmit)="onSubmit()">
    <div class="space-y-4 rounded-md shadow-sm">
        <div>
            <label for="email-address" class="sr-only"
                >Correo electrónico</label
            >
            <input
                id="email-address"
                name="email"
                type="email"
                required
                class="bg-gray-700 w-full p-2 rounded"
                placeholder="Correo electrónico"
                formControlName="email"
            />
            @if(this.handleFormErrors('email'); as error){
            <span class="text-red-500 text-sm">
                {{ error }}
            </span>
            }
        </div>

        <div>
            <label for="password" class="sr-only">Contraseña</label>
            <input
                id="password"
                name="password"
                type="password"
                required
                class="bg-gray-700 w-full p-2 rounded"
                placeholder="Contraseña"
                formControlName="password"
            />
            @if(this.handleFormErrors('password'); as error){
            <span class="text-red-500 text-sm">
                {{ error }}
            </span>
            }
        </div>
    </div>
    <div>
        <button
            type="submit"
            class="w-full text-black p-2 rounded"
            [ngClass]="
                email?.valid && password?.valid
                    ? 'bg-green-500 hover:bg-green-600'
                    : 'bg-green-700 hover:bg-green-700'
            "
            [disabled]="!(email?.valid && password?.valid)"
        >
            Iniciar Sesión
        </button>
    </div>
    <!-- <div class="mt-5 flex gap-3">
        <button
            class="w-full bg-cyan-500 text-black hover:bg-cyan-600 p-2 rounded"
            (click)="fillInGuest($event, 'patient')"
        >
            Paciente
        </button>
        <button
            class="w-full bg-cyan-500 text-black hover:bg-cyan-600 p-2 rounded"
            (click)="fillInGuest($event, 'specialist')"
        >
            Especialista
        </button>
        <button
            class="w-full bg-cyan-500 text-black hover:bg-cyan-600 p-2 rounded"
            (click)="fillInGuest($event, 'admin')"
        >
            Admin
        </button>
    </div> -->
</form>

<div class="fixed bottom-10 right-10 space-y-4">
    <!-- Botón flotante principal de Admin -->
    <div class="relative group">
        <button
            (click)="toggleMenu('admin-menu')"
            class="bg-blue-600 hover:bg-blue-700 text-white p-4 rounded-full shadow-lg"
        >
            <img src="auth/admin.png" alt="Admin Icon" class="w-9" />
        </button>
        <!-- Sub-botones flotantes de Admin -->
        <div
            id="admin-menu"
            class="absolute right-full mr-4 hidden space-x-3 transition-all duration-300 ease-in-out transform scale-0 bottom-1"
        >
            <button
                class="bg-blue-400 hover:bg-blue-500 p-1 rounded-full shadow-lg w-16 h-16"
                (click)="fillInGuest('admin')"
            >
                <img [src]="this.imgAdmin" class="aspect-square  rounded-full" />
            </button>
        </div>
    </div>

    <!-- Botón flotante principal de Especialista -->
    <div class="relative group">
        <button
            (click)="toggleMenu('specialist-menu')"
            class="bg-green-600 hover:bg-green-700 text-white p-4 rounded-full shadow-lg"
        >
            <img src="auth/specialist.png" alt="Admin Icon" class="w-9" />
        </button>
        <!-- Sub-botones flotantes de Especialista -->
        <div
            id="specialist-menu"
            class="absolute right-full mr-4 hidden bottom-1 space-x-3 transition-all duration-300 ease-in-out transform scale-0"
        >
            <button
                class="bg-green-400 hover:bg-green-500 p-1 rounded-full shadow-lg w-16 h-16"
                (click)="fillInGuest('specialist1')"
            >
                <img [src]="this.imgSpecialist1" class="aspect-square  rounded-full" />
            </button>
            <button
                class="bg-green-400 hover:bg-green-500 p-1 rounded-full shadow-lg w-16 h-16"
                (click)="fillInGuest('specialist2')"
            >
                <img [src]="this.imgSpecialist2" class="aspect-square  rounded-full" />
            </button>
        </div>
    </div>

    <!-- Botón flotante principal de Paciente -->
    <div class="relative group">
        <button
            (click)="toggleMenu('patient-menu')"
            class="bg-red-600 hover:bg-red-700  p-4 rounded-full shadow-lg"
        >
            <img src="auth/patient.png" alt="Admin Icon" class="w-9" />
        </button>
        <!-- Sub-botones flotantes de Paciente -->
        <div
            id="patient-menu"
            class="absolute right-full mr-4 hidden bottom-1 space-x-3 transition-all duration-300 ease-in-out transform scale-0 w-fit"
        >
            <button
                class="bg-red-400 hover:bg-red-500  p-1 rounded-full shadow-lg w-16 h-16"
                (click)="fillInGuest('patient1')"
            >
                <img [src]="this.imgPatient1" class="aspect-square  rounded-full" />
            </button>
            <button
                class="bg-red-400 hover:bg-red-500  p-1 rounded-full shadow-lg !w-16 h-16"
                (click)="fillInGuest('patient2')"
            >
                <img [src]="this.imgPatient2" class="aspect-square rounded-full" />
				
            </button>
            <button
                class="bg-red-400 hover:bg-red-500  p-1 rounded-full shadow-lg !w-16 h-16"
                (click)="fillInGuest('patient3')"
            >
                <img [src]="this.imgPatient3" class="aspect-square rounded-full" />
            </button>
        </div>
    </div>
</div>
