<div
    class="bg-slate-700 rounded-xl p-4 flex flex-col justify-center items-center w-56 h-96 space-y-3 text-wrap overflow-x-hidden"
>
    <img class="w-32 h-32 rounded-2xl" [src]="this.user.imagenPerfil" alt="" />
    <h2 class="font-bold">{{ this.user.nombre + " " + this.user.apellido }}</h2>
    <div
        class="flex flex-col justify-center items-center text-slate-300 space-y-1"
    >
        <p class="text-sm text-slate-400">{{ this.user.email }}</p>
        <p class="">Edad: {{ this.user.edad }}</p>
        <p class="">DNI: {{ this.user.dni }}</p>
        <p class="">Rol: {{ this.user.role }}</p>
        <p class="font-bold text-cyan-400">{{ this.user.role }}</p>
    </div>
	@if(this.user.role === 'specialist'){
		<div class="flex gap-4">
			<p>Habilitado:</p>
			<p-inputSwitch [(ngModel)]="this.specialistActivated" (onChange)="onSwitchChange()"/>
		</div>
	}
</div>
