<div class="flex justify-center items-center">
    <div
        class="w-5/6 bg-slate-400 rounded-lg shadow-lg shadow-slate-600 h-16 m-6 flex justify-center items-center"
    >
        <input
            class="rounded-md w-full mx-4 h-10 p-2 text-black"
            type="text"
            placeholder="Filtra tus turnos..."
            [(ngModel)]="this.filterText"
            (ngModelChange)="onFilterChange()"
        />
    </div>
</div>

<div class="h-[calc(100vh-64px)] mb-5 mx-6 flex justify-center items-start">
    <div class="w-5/6 gap-14 justify-start items-start flex flex-wrap">
        @if(this.authService.currentUserSig(); as currentUser){
        <!-- - -->
		 @if(this.fileteredTurnos !== []){

        @for(turno of this.fileteredTurnos; track $index){

        <app-turno-card 
                class="animated-bounce opacity-0"
                [ngStyle]="{'animation-delay': ($index * 0.1) + 's'}"
				[turno]="turno"
		></app-turno-card>

        }
		 }
        <!-- - -->
        }
    </div>
</div>
