@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
		opacity: 1;
        transform: translateX(-10px);
    }
    100% {
		opacity: 1;
        transform: translateX(0);
    }
}

.animated-bounce {
    animation: bounceInLeft 0.8s ease-out forwards;
}
